* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  background: #272727;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.contenedor {
  transition: width 0.5s ease;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "contenido" "sidebar" "widget-1" "widget-2" "footer";
}
.contenedor div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer,
.contenedor .widget-1,
.contenedor .widget-2 {
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}

.contenedor .header {
  background: #181818;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor .header h1 a {
  text-align: center;
  color: #ff9900;
  font-size: 2rem;
  font-weight: 600;
}
.contenedor .header nav {
  width: 100%;
  max-width: 555px;
}
.contenedor .header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor .header nav li {
  padding: 0.25rem 0;
}
.contenedor .header nav li a {
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}
.contenedor .header nav li a:hover {
  padding: 0 0.25rem;
  color: #fff;
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-right: 3px solid rgba(255, 255, 255, 0.1);
  text-shadow: 1px 1px 0px #000;
  font-weight: 600;
}
.contenedor .header nav li #search {
  width: 100px;
}
.contenedor .header nav li #search:focus {
  outline-color: #ff9900;
  outline-style: solid;
  outline-width: 2px;
}
.contenedor .header nav li #btn {
  transition: all 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.contenedor .header nav li #search,
.contenedor .header nav li #btn {
  padding: 2px;
  font-weight: 400;
  border: none;
}
.contenedor .header nav li #search:hover,
.contenedor .header nav li #btn:hover {
  background-color: white;
  outline-color: #ff9900;
  outline-style: solid;
  outline-width: 1px;
}

.contenedor .contenido {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-area: contenido;
  background-color: #181818;
}
.contenedor .contenido h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.contenedor .contenido article {
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  background-color: #272727;
  border: #181818 double 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor .contenido article h2 {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.contenedor .contenido article img {
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}
.contenedor .contenido article p {
  width: 100%;
  text-align: center;
}
.contenedor .contenido article:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
}

.contenedor .sidebar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: sidebar;
  border: #272727 double 15px;
  background-color: #181818;
}
.contenedor .sidebar h3 {
  font-size: 1.25rem;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.contenedor .sidebar article {
  transition: all 0.2s ease-in-out;
  background: #272727;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
}
.contenedor .sidebar article h3 {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  font-weight: 400;
}
.contenedor .sidebar article img {
  border-radius: 4px;
  width: 100%;
}
.contenedor .sidebar article:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.contenedor .widget-1,
.contenedor .widget-2 {
  transition: all 0.3s ease-in-out;
  height: auto;
  min-height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contenedor .widget-1 h3,
.contenedor .widget-2 h3 {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.contenedor .widget-1:hover,
.contenedor .widget-2:hover {
  font-size: 1.1rem;
}
.contenedor .widget-1 {
  grid-area: widget-1;
  background-image: url(../img/bitcoin_widget.jpg);
  background-size: cover;
  background-position: center;
}
.contenedor .widget-2 {
  grid-area: widget-2;
  background-image: url(../img/ethereum.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor-articulos {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "contenido" "footer";
}
.contenedor-articulos .contenido {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "subtitle subtitle subtitle" "articulo-1 articulo-2 articulo-3" "articulo-4 articulo-5 articulo-6";
  justify-items: center;
  align-items: center;
}
.contenedor-articulos .contenido .subtitle {
  text-align: center;
  grid-area: subtitle;
}
.contenedor-articulos .contenido .articulo-1 {
  grid-area: articulo-1;
}
.contenedor-articulos .contenido .articulo-2 {
  grid-area: articulo-2;
}
.contenedor-articulos .contenido .articulo-3 {
  grid-area: articulo-3;
}
.contenedor-articulos .contenido .articulo-4 {
  grid-area: articulo-4;
}
.contenedor-articulos .contenido .articulo-5 {
  grid-area: articulo-5;
}
.contenedor-articulos .contenido .articulo-6 {
  grid-area: articulo-6;
}
.contenedor-articulos .contenido article:hover {
  transform: scale(1.02);
}
.contenedor-articulos .contenido article {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
}
form h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}
form #boton {
  background: #272727;
  color: #fff;
  transition: all 0.2s ease-in-out;
  padding: 1rem 0;
  margin: 0.5rem 0;
}
form #boton:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #000000;
  border: #ff9900 solid 1px;
}
form ul {
  font-size: 0.9rem;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.5);
  list-style: outside;
}
form ul li {
  margin: 0.5rem;
}
form .motivo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
form .motivo div {
  padding: 0;
}
form .motivo input, form .motivo label {
  width: auto;
  cursor: pointer;
  margin: 0;
}

.contenedor .footer {
  padding: 0 2rem;
  background: #181818;
  grid-area: footer;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}
.contenedor .footer a {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .contenedor .header {
    padding: 1rem;
  }
  .contenedor .header nav {
    width: 55%;
  }
  .contenedor .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor .header nav ul li #search {
    width: 125px;
  }
  .contenedor .sidebar h3 {
    font-size: 1.25rem;
  }
  .contenedor .sidebar section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    grid-template-areas: "articulo-1 articulo-2" "articulo-3 articulo-4";
  }
  .contenedor .articulo-1 {
    grid-area: articulo-1;
  }
  .contenedor .articulo-2 {
    grid-area: articulo-2;
  }
  .contenedor .articulo-3 {
    grid-area: articulo-3;
  }
  .contenedor .articulo-4 {
    grid-area: articulo-4;
  }
}
@media screen and (min-width: 768px) {
  .contenedor {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header" "contenido contenido" "sidebar sidebar" "widget-1 widget-2" "footer footer";
  }
}
@media screen and (min-width: 992px) {
  body {
    background: radial-gradient(circle, #272727 75%, #181818 100%);
  }
  .contenedor {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header header" "contenido contenido contenido sidebar" "widget-1 widget-1 widget-2 sidebar" "footer footer footer footer";
  }
  .contenedor .header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor .header nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor .header nav ul li {
    margin: 0 1rem;
  }
  .contenedor .contenido article {
    width: 90%;
  }
  .contenedor .sidebar h3 {
    font-size: 1rem;
  }
  .contenedor .sidebar section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0px;
    grid-template-areas: "articulo-1" "articulo-2" "articulo-3" "articulo-4";
  }
  .contenedor .sidebar section article h3 {
    font-size: 0.9rem;
  }
  .contenedor .sidebar section article:hover {
    transform: scale(1.01);
  }
  .contenedor .widget-1:hover,
.contenedor .widget-2:hover {
    transform: scale(1.025);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: #272727;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background-color: #272727;
  }
}

/*# sourceMappingURL=main.css.map */
