.contenedor {
    .footer {
        padding: 0 2rem;
        background: $color-principal;
        grid-area: footer;
        text-align: center;
        @include d-flex (row,flex-start,center);
        height: 50px;

        a {
            font-size: 1rem;
            font-weight: 600;
        }
    }
}