* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #272727;
    color: #000;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
