@media screen and (max-width: 992px) {
    .contenedor {
        grid-template-areas:
        "header header header header"
        "contenido contenido contenido contenido"
        "sidebar sidebar sidebar sidebar"
        "widget-1 widget-1 widget-2 widget-2"
        "footer footer footer footer";
    }
    .contenedor .sidebar {
        h3 {
            margin-bottom: 1rem;
        }
        .section {
            @include d-flex (row,space-around,center);
            h3 {
                margin-bottom: 1rem 0;
            }
            article{
                @include d-flex (column,space-between,center);
                margin: 0 0.5rem;
                min-height: 155px;
                min-width: 100px;
            }
        }
    }
    .contenedor .header {
        @include d-flex (column,center,center);
        nav {
            width: 100%;
            #search {
                width: 105px;
            }
        }
    }
    .contenedor-articulos {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "header"
        "contenido"
        "footer";
        .contenido {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
            "subtitle subtitle"
            "articulo-1 articulo-2"
            "articulo-3 articulo-4"
            "articulo-5 articulo-6";
        }
    }
}

@media screen and (max-width: 768px) {
    .contenedor .sidebar {
        h3 {
            margin-bottom: 1rem;
        }
        .section {
            @include d-flex (row,space-around,center);
            h3 {
                margin-bottom: 1rem 0;
            }
            article{
                @include d-flex (column,space-between,center);
                margin: 0 0.5rem;
                min-height: 155px;
                min-width: 100px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .contenedor-articulos {
        .contenido {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(7, auto);
            grid-template-areas:
            "subtitle"
            "articulo-1"
            "articulo-2"
            "articulo-3"
            "articulo-4"
            "articulo-5"
            "articulo-6";
        }
    }
}