@media screen and (min-width: 576px) {
    .contenedor {
        .header {
            padding: 1rem;
            nav {
                width: 55%;
                ul {
                    @include d-flex (row, space-around, center);
                    li {
                        #search {
                            width: 125px;
                        }
                    }
                }
            }
        }

        .sidebar {
            h3 {
                font-size: 1.25rem;
            }

            section {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 10px;
                grid-template-areas:
                    "articulo-1 articulo-2"
                    "articulo-3 articulo-4";
            }
        }

        .articulo-1 {
            grid-area: articulo-1;
        }

        .articulo-2 {
            grid-area: articulo-2;
        }

        .articulo-3 {
            grid-area: articulo-3;
        }

        .articulo-4 {
            grid-area: articulo-4;
        }
    }
}

@media screen and (min-width: 768px) {
    .contenedor {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header header"
            "contenido contenido"
            "sidebar sidebar"
            "widget-1 widget-2"
            "footer footer";
    }
}

@media screen and (min-width: 992px) {

    body {
        background: radial-gradient(circle, $color-secundario 75%, $color-principal 100%);
    }

    .contenedor {
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header header header header"
            "contenido contenido contenido sidebar"
            "widget-1 widget-1 widget-2 sidebar"
            "footer footer footer footer";

        .header {
            padding: 1rem;
            @include d-flex (row, space-between, center);

            nav {
                width: 60%;
                @include d-flex (row, space-between, center);
                ul {
                    @include d-flex (row, space-around, center);
                    li {
                        margin: 0 1rem;
                    }
                }
            }
        }

        .contenido {
            article {
                width: 90%;
            }
        }

        .sidebar {
            h3 {
                font-size: 1rem;
            }

            section {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, auto);
                gap: 0px;
                grid-template-areas:
                    "articulo-1"
                    "articulo-2"
                    "articulo-3"
                    "articulo-4";

                article {
                    h3 {
                        font-size: 0.9rem;
                    }

                    &:hover {
                        transform: scale(1.01);
                    }
                }

            }
        }

        .widget-1,
        .widget-2 {
            &:hover {
                transform: scale(1.025);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: $color-secundario;
    }
}

@media screen and (min-width: 1400px) {
    body {
        background-color: $color-secundario;
    }
}